*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    width: 100%; 
    height: 1200px;
    margin: 0;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.topo{
    border-bottom: solid 1px black;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 10px black;
    height: 150px;
    
}
.logo{
    width: 80px;
}
.menu{
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 20px;
}
/*Corpo do Site*/
.corpo-site{
    padding: 20px;
}

footer{ 
    position: absolute;
    bottom: 0;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: solid 10px black;
    width: 100%;   
    background-color: black;
    color: aliceblue;             
}
@media (max-width:450px){
    footer{
        font-size: 20px;
    }
}